.loading-dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
  min-width: 200px;
  
  .loading-message {
    margin-top: 16px;
    text-align: center;
    font-size: 16px;
  }
} 