
.app-product-edit {
    .card {
        background-color: #f8f9fa;
    }
}

.my-select {
  color: blue !important;
  font-size: 16px !important ;
}


.picsum-img-wrapper img {
    max-width: 100%;
}
.picsum-img-wrapper .carousel-indicators {
    position: static;
    margin-top:20px;
}

.carousel-indicators li {
  width: 100px;
  text-indent: 0;
}

 .picsum-img-wrapper .carousel-indicators li img {
    display: block;
    opacity: 0.5;
 }

  .picsum-img-wrapper .carousel-indicators li.active img {
    opacity: 1;
  }

  .picsum-img-wrapper .carousel-indicators li:hover img {
    opacity: 0.75;
  }



  .img-ul
  {
    font-family: Arial, Verdana;
    font-size: 14px;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
  }

  .img-ul li
  {
    display: block;
    position: relative;
    float: left;
    text-align: center;
    padding:4px;

  }

  .img-ul li  img
  {
    border:1px solid rgb(241, 241, 241) ;
    box-shadow: 1px 3px 2px rgb(228, 225, 225);;
   width:80px;
   height:80px;
   cursor: pointer;
  }
  .img-ul li  img:hover
  {
    border:3px solid #f0b999 ;

  }


  .product-img
  {
    float:left;
    background-color:skyblue;
  }

  .product-img img
  {
    width:100%;
   height:100%;
  }

  .btn-remove-img{
   font-size:9px;
    position:absolute;
    top:-5px;
    right:-2px;
      background-color: orange;
      border-radius: 50%;
      padding:1px;
      color:white;
        }

  .btn-remove-img:hover{
    cursor: pointer;
    color:white;
    background-color: red;

   }




   table {

    border-collapse: collapse; /* Remove the default border between cells */
   width:100%;
  }

  th, td {
    padding:0px;
  }

  th {
    background-color: #f5f5f5; /* Set the background color of the header cells */
    text-align: center; /* Align the text in the header cells to the left */
    font-weight: 600; /* Make the font weight of the header cells bold */
    color:#ea7025;
  }

  tr:nth-child(even) {
    background-color: #cfc9c9; /* Set the background color of every even row to a light gray color */
  }

  tr:hover {
    background-color: #e9e9e9; /* Set the background color of hovered rows to a light gray color */
  }

  td {
    border-top: 1px solid #ddd; /* Add a border to the top of each cell */
    text-align: center;;
  }


  .tb-input{
    border:none;
    text-align: center;;
    padding:0px;
    width:100% !important;
    margin:0px;
    background-color: transparent !important;

  }
  .tb-input:focus{
     background-color: rgb(236, 240, 225) !important;;
     border-radius: 3px;;
     border:none !important;
   }


  .txt-input{
    border:none;
    text-align: left;;
    padding:4px 8px;
    width:100% !important;
    margin:0px;
    background-color: transparent !important;
    background-color: rgb(245, 247, 242) !important;;

    outline: none;

  }
  .txt-input:focus{
   // box-shadow:0 0 0 1px rgb(187, 167, 167);
    background-color: rgb(236, 240, 225) !important;;
    border-radius: 3px;;
  }



  .col-1
  {
    background-color:transparent !important ;
    width:10% !important;
    padding:1px;
  }

  .col-2
  {
    background-color:transparent !important ;
    width:10% !important;
    padding:1px;
  }

  .col-3
  {
    background-color:transparent !important ;
    width:70% !important;
    padding:1px;
  }

  .col-4
  {
    background-color:transparent !important ;
    width:5% !important;
    padding:1px;
  }
  .col-5
  {
    background-color:transparent !important ;
    width:5% !important;
    padding:1px;
  }

 .my-2
 {
  background-color: transparent;
  margin:3px !important;
 }

 .i-add
 {
  color:  #db9468 ;
  text-shadow: 3px 3px 3px silver ;
 }

 .i-add:hover
 {
 cursor: pointer;
 color:#f56912 ;
 }
