@use "../variables" as *;

html .topbar {
  position: sticky;
  top: 0;
  z-index: 9;
  height: $header-height;
  background-color: var(--mat-sys-background);

  i-tabler {
    stroke-width: 1.5px;
  }
}

.topbar-dd {
  min-width: 360px !important;
}

.profile-img {
  margin-top: -5px;
  margin-left: -5px;
}

.apps-dd {
  min-width: 830px !important;
  overflow: unset !important;

  .mat-mdc-menu-content {
    padding: 0;
    overflow: hidden;
    border-radius: var(--mat-sys-corner-small);
  }
}

.text-hover-primary:hover {
  .hover-text {
    color: $primary;
  }
}

.object-cover {
  object-fit: cover;
}

.dark-theme {
  .topbar {
    .mat-mdc-icon-button {
      color: $dark-text-secondary !important;
    }

    .mdc-button {
      --mdc-text-button-label-text-color: $dark-text-secondary !important;
    }
  }
}

.mega-dd-bg {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  max-width: 100%;
}

// notification badge
.notification {
  height: 16px;
  width: 16px;
  border-radius: 100%;
  line-height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 2px;
  top: 1px;
}

.inbox-badge {
  position: absolute !important;
  top: 0;
  right: 0;
}
