html.blue_theme {
  --mat-sys-primary: rgb(0, 161, 255);
  --mat-sys-primary-fixed-dim: rgb(0, 161, 255, 0.15);
  --mat-sys-secondary: rgb(137, 101, 229); 
  --mat-sys-secondary-fixed-dim: rgb(137, 101, 229, 0.15);
}
