.mat-rbt
{
  margin-right:10px !important;
  color:rgb(33, 90, 125);
  font-weight:bolder;
}
.icon-text {
 font-size: 17px;
 position: absolute;top: 34%;
 left: 48%;
 transform: translate(-50%, -50%);
}
.mat-mcq-input
{
    padding:3px;
    border-color:silver;

    width:100%;
    background-color: whitesmoke;
    // border-bottom: 1px solid silver;
    outline:none;
}

.mcq-btn-add
{
    position: absolute;
    top:-3px;
    right:-26px;
}
.mat-icon-add:hover
{
cursor: pointer;
color:green;
}

.opt-box-container
{


    margin:1px;
    padding:2px;
}

.opt-box
{
    background-color: white;;
    padding:2px;
    margin:1px;
    border-radius: 3px;;
    border: 1px   dashed  dimgray ;

}


.opt-content
{
    text-align: right;
    padding-right:4px;
    text-indent: 8px;;
}


.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
