{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Information",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },
  "ConnectionStrings": {
    "DefaultConnection": "YOUR_CONNECTION_STRING_HERE"
  },
  "ApiUrl": "https://localhost:5001/",
  "AllowedHosts": "*",
  "Token": {
    "Key": "YOUR_SUPER_SECRET_KEY_HERE",
    "Issuer": "https://localhost:5001"
  },
  "SmtpSettings": {
    "Server": "smtp.gmail.com",
    "Port": 587,
    "Username": "YOUR_EMAIL_HERE",
    "Password": "YOUR_APP_PASSWORD_HERE",
    "EnableSsl": true,
    "UseDefaultCredentials": false,
    "SenderEmail": "noreply@yourdomain.com",
    "SenderName": "Your App Name"
  },
  "Redis": {
    "ConnectionString": "localhost:6379,password=YOUR_REDIS_PASSWORD"
  },
  "StripeSetttings": {
    "PublishibleKey": "pk_test_YOUR_STRIPE_PUBLISHABLE_KEY",
    "SecretKey": "sk_test_YOUR_STRIPE_SECRET_KEY"
  },
  "OpenAI": {
    "ApiKey": "sk-YOUR_OPENAI_API_KEY"
  },
  "RabbitMQ": {
    "HostName": "localhost",
    "Port": 5672,
    "UserName": "guest",
    "Password": "guest",
    "Exchange": "ministry_exchange",
    "Queue": {
      "MedicalRequests": "medical_requests_queue",
      "EquipmentOrders": "equipment_orders_queue"
    }
  }
}

